@font-face {
  font-family: "crossing";
  src:url("../fonts/crossing.eot");
  src:url("../fonts/crossing.eot?#iefix") format("embedded-opentype"),
    url("../fonts/crossing.woff") format("woff"),
    url("../fonts/crossing.ttf") format("truetype"),
    url("../fonts/crossing.svg#crossing") format("svg");
  font-weight: normal;
  font-style: normal;
}