//
// Components
// --------------------------------------------------

// AD
.ads-box {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0;

  .ads {
    background-color: transparent;
    display: block;
    vertical-align: top;

    &>* {
      margin: $spacing*10 $spacing-tiny*5 0 $spacing-tiny*5;
      display: block;
    }

    img {
      display: block;
      margin: auto;
      vertical-align: top;
    }
  }
}


// Tooltips
[data-tooltip] {
  position: relative;

  &:hover {
    z-index: 9999;

    &::after {
      content: attr(data-tooltip);
      background-color: $color-GR700;
      border-radius: $spacing-tiny;
      padding: 6px;
      color: $color-WH;
      font-family: $font-family-sans;
      font-size: $font-size-12;
      font-weight: $font-weight-light;
      text-align: center;
      text-indent: initial;
      line-height: 1;
      display: inline-block;
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
      white-space: pre;
      z-index: 999;
    }
  }
}

// Sponsor icon
[data-sponsor] {
  position: relative;

  &::before {
    content: attr(data-sponsor);
    background-color: $color-warning;
    font-size: $font-size-14;
    font-weight: $font-weight-normal;
    color: $color-WH;
    padding: $spacing-tiny/2 $spacing;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
  }
}


// Button
.btn {
  background-color: transparent;
  display: inline-block;
  margin: 0;
  color: $color-WH;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: $spacing-tiny*3 $spacing*4;
  font-family: $font-family-sans;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: $transition-base;
  cursor: pointer;

  &, &:active, &.active {
    &:focus, &.focus {
      @include tab-focus;
    }
  }

  &:hover, &:focus, &:active {
    color: $color-WH;
    text-decoration: none;

    i {
      left: 4px;
    }
  }

  &:active, &.active {
    outline: 0;
    background-image: none;
  }

  // Icon margin
  i {
    margin-left: $spacing-tiny;
    position: relative;
    left: 0;
    transition: $transition-base;

    &.icon-btn-arrow {
      background-repeat: no-repeat;
      background-size: contain;
      width: 12px;
      height: 20px;
      display: inline-block;

      &.light {
        background-image: url(../images/icon-btn-arrow-right--light.svg);
      }

      &.primary {
        background-image: url(../images/icon-btn-arrow-right--primary.svg);
      }
    }
  }

  // Primary
  &--primary {
    background-color: $color-primary;
  
    &:hover, &:active {
      background-color: $color-primary2;
    }
  }

  // Border
  &--border {
    background-color: transparent;
    border-color: $color-primary;
    color: $color-primary;
  
    &:hover, &:active, &:focus {
      border-color: $color-primary2;

      i.primary {
        background-image: url(../images/icon-btn-arrow-right--light.svg);
      }
    }
  }

  // Text
  &--text {
    background-color: transparent;
    border-color: transparent;
    color: $color-GR900;
    padding: $spacing-tiny*2 $spacing-tiny*3;
  
    &:hover, &:active, &:focus {
      @include btn_hover--text;
    }
  }

  &--info {
    background-color: $color-info;
  
    &:hover, &:active {
      background-color: $color-BL300;
    }

    &.btn--border {
      background-color: transparent;
      border-color: $color-info;
      color: $color-info;
  
      &:hover, &:active {
        background-color: $color-BL300;
        color: $color-WH;
      }
    }
  }

  &--disable {
    background-color: $color-GR300;
    cursor: default;
    pointer-events: none;

    i.icon-btn-arrow.primary {
      background-image: url(../images/icon-btn-arrow-right--light.svg);
    }
  }

  &--small {
    padding: 6px $spacing*2;
    font-size: $font-size-14;

    &.btn--text {
      padding: 6px $spacing-tiny*3;
    }
  }
  
  &--big {
    padding: $spacing-tiny*3.5 $spacing*5;
    font-size: $font-size-18;

    &.btn--text {
      padding: $spacing-tiny*3.5 $spacing*2;
    }
  }
}


// Titlebar
.titlebar {
  margin-bottom: $spacing*3;

  // page
  &--page {
    margin-bottom: $spacing*4;
    min-height: 161px;

    &.active {
      .titlebar__title {
        margin-bottom: $spacing*8;
      }

      .tab-nav {
        position: fixed;
        top: 68px;
        left: 0;
        z-index: 99;

        nav {
          border: 0;
          box-shadow: 0 0 2px rgba(0, 0, 0, .2);
        }
      }
    }

    .titlebar__title {
      .title-data {
        text-align: center;

        .title {
          font-size: $font-size-40;
          display: block;
          width: 100%;
        }

        span.sub-title {
          font-size: 1.25rem;
          font-style: italic;
          display: block;
          width: 100%;
          position: relative;
          top: -4px;
          margin-bottom: $spacing-tiny;
        }
      }
    }
  }

  // Section
  &--section {
    .titlebar__title {
      .title-data {
        position: relative;
        display: inline-block;

        &::after {
          content: '';
          background-color: $color-primary;
          width: 100%;
          height: 4px;
          display: inline-block;
          position: absolute;
          left: 0;
          bottom: -4px;
        }

        .title {
          font-size: $font-size-40;
        }
      }
    }
  }

  // Small
  &--small {
    &--inline {
      .titlebar__title {
        display: inline-block;
      }
    }

    .titlebar__title {
      border-width: 2px;
      padding-right: $spacing*4;
      
      .title-data {
        position: relative;
        display: inline-block;
        border-width: 2px;

        &::after {
          content: '';
          background-color: $color-primary;
          width: 100%;
          height: 2px;
          display: inline-block;
          position: absolute;
          left: 0;
          bottom: -2px;
        }

        .title {
          font-size: $font-size-32;
          display: inline-block;
        }

        span.sub-title {
          font-size: $font-size-base;
          margin-left: $spacing-tiny;
        }
      }
    }
  }

  &__title {
    border-bottom: 4px solid $color-secondary;

    .title-data {
      .title {
      }

      span.sub-title {
        font-family: $font-family-LOAT;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
      }

      a {
        color: $color-GR900;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  &__subnav {
  }
}


// Tab nav
.tab-nav {
  background-color: $color-WH;
  width: 100%;
  top: 0;

  nav {
    border-bottom: 1px solid $divider-light;
    position: relative;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      li {
        margin: 0 $spacing;
        transition: $transition-base;

        &:hover {
          a {
            color: $color-primary;
          }
        }

        &.active {
          a {
            border-color: $color-primary;
          }
        }

        a {
          font-size: $font-size-18;
          font-weight: $font-weight-bold;
          text-align: center;
          color: $color-GR900;
          padding: $spacing*2 $spacing;
          display: inline-block;
          border-bottom: 4px solid transparent;
        }
      }
    }
  }

  &--nowrap {
    nav {
      position: relative;

      &::after {
        content: '';
        background: linear-gradient(to left,$color-WH,rgba(255,255,255,0));
        width: $spacing*3;
        height: 63px;
        position: absolute;
        top: 0;
        right: 0;
      }

      ul {
        justify-content: flex-start;
        flex-wrap: initial;
        overflow-x: scroll;
        white-space: nowrap;
      }
    }
  }
}


// Tags
.tags {
  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      font-family: $font-family-sans;
      font-size: $font-size-14;
      font-weight: $font-weight-lighter;
      line-height: 1;
      color: $color-GR900;
      text-align: center;
      text-indent: 1px;
      margin: 0 $spacing $spacing 0;

      a {
        color: $color-GR900;
        padding: $spacing $spacing-tiny*3;
        display: block;
        border: 1px solid $color-GR200;

        &:hover {
          border-color: $color-primary;
          color: $color-primary;
        }
      }
    }
  }
}


// Breadcrumb
.breadcrumb {
  width: 100%;
  padding: $spacing*3 0 $spacing*2;
  @include clearfix;

  nav {
    ul {
      display: flex;

      li {
        font-family: $font-family-sans;
        font-size: $font-size-14;
        color: $color-GR900;
        display: flex;

        &:last-child {
          &::after {
            display: none;
          }
        }

        &::after {
          content: '';
          background-image: url(../images/icon-14-light-arrow--breadcrumb.svg);
          background-repeat: no-repeat;
          background-position: center;
          width: 20px;
          height: 20px;
          display: inline-block;
        }

        a {
          color: $color-GR400;

          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
}


// Pagination
.pagination {
  width: 100%;
  text-align: center;
  @include clearfix;

  nav {
    ul {
      display: flex;
      justify-content: center;

      li {
        background-color: $color-WH;
        border: 1px solid $color-GR200;
        font-family: $font-family-LOAT;
        font-size: $font-size-base;
        text-align: center;
        line-height: $spacing*5;
        letter-spacing: 0;
        min-width: $spacing*5;
        height: $spacing*5;
        margin: 0 $spacing;

        a {
          @include full100;
          color: $color-secondary;

          &:hover {
            background-color: $color-primary;
            color: $color-WH;
          }
        }

        &.active {
          background-color: $color-secondary;
          color: $color-WH;

          a {
            color: $color-WH;
          }
        }

        &.page-more {
          border-color: $color-WH;
        }

        &.page-first, &.page-previous, &.page-next, &.page-last {
          background-repeat: no-repeat;
          background-position: center;
          text-indent: -5000px;

          a {
            background-repeat: no-repeat;
            background-position: center;
            background-color: $color-WH;

            &:hover {
              background-color: $color-primary;
            }
          }
        }

        &.page-first {
          background-image: url(../images/icon-20-inactive-arrow--first.svg);

          a {
            background-image: url(../images/icon-20-dark-arrow--first.svg);
          }
        }

        &.page-previous {
          background-image: url(../images/icon-20-inactive-arrow--left.svg);

          a {
            background-image: url(../images/icon-20-dark-arrow--left.svg);
          }
        }

        &.page-next {
          background-image: url(../images/icon-20-inactive-arrow--right.svg);

          a {
            background-image: url(../images/icon-20-dark-arrow--right.svg);
          }
        }

        &.page-last {
          background-image: url(../images/icon-20-inactive-arrow--last.svg);

          a {
            background-image: url(../images/icon-20-dark-arrow--last.svg);
          }
        }
      }
    }
  }
}


// Toasts
.notification {
  background-color: $color-BL50;
  width: 70vw;
  padding: $spacing*2 $spacing*3;
  display: flex;
  @include box-shadow--mix;

  &:hover {
    .notification__body {
      color: $color-GR700;
    }
  }

  &__body {
    font-family: $font-family-sans;
    font-size: $font-size-base;
    color: $color-GR600;
    padding-right: $spacing*3;
  }

  &__btns {
  }

  &.fix--bottom {
    position: fixed;
    bottom: $spacing*2;
    right: $spacing*2;
    z-index: 999999;
  }
}


// 進度條
.page-progress {
  background: $color-secondary;
  width: 100%;
  height: 4px;
  
  &__bar {
    height: 4px;
    background: $color-primary2;
    width: 0%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}


// UI State
.ui-state {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $spacing*3 auto $spacing*8 auto;
  @include clearfix;

  &__icon {
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
  }

  &__content {
    margin-left: $spacing*3;
    font-family: $font-family-sans;
    font-size: $font-size-24;
    font-weight: $font-weight-medium;
    color: $color-GR400;
  }

  &.blank {
    i {
      background-image: url(../images/icon-100-ui-state--blank.svg);
    }
  }

  &.search {
    i {
      background-image: url(../images/icon-100-ui-state--search.svg);
    }
  }
}


//goTop
.goTop {
  background-image: url(../images/icon-16-light-arrow--up.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  background-color: $color-secondary;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  display: inline-block;
  position: fixed;
  right: -10%;
  bottom: 2.5%;
  z-index: 99999;
  box-shadow: 0 0 2px rgba(255,255,255,.6);
  transition: $transition-slow;

  &:hover {
    background-color: $color-primary;
  }

  &.active {
    right: 1.5%;
  }
}


// Form -----
// Input
.text-input {
  font-family: $font-family-sans;
  font-size: $font-size-base;
  padding-left: $spacing*2;
  padding-right: $spacing*2;
}


// Make a div into a link
[data-link], [data-link-blank] {
  cursor: pointer;
}


// Cards
.card {
  position: relative;
  transition: $transition-base;

  &[data-sponsor] {
    &::before {
      //隱藏贊助
      display: none;
    }
  }

  // New author
  &.new {
    .card__body {
      .title {
        &::before {
          content: 'NEW';
          background-color: $color-info;
          font-family: $font-family-LOAT;
          font-size: $font-size-12;
          line-height: 1;
          color: $color-WH;
          padding: 2px 2px 2px 4px;
          border-radius: 2px;
          position: absolute;
          top: -20px;
          left: 0;
          transform-origin: 0;
          transform: scale(.9);
        }
      }
    }
  }

  &:hover {
    @include box-shadow--active;
  }

  &--article {
    .card__body {
      margin: -$spacing*4 0 0 $spacing*3;
    }
  }

  &--author {
    &:hover {
      filter: inherit;
      box-shadow: 0 2px 8px rgba(0,0,0,.16);
    }

    .card__img {
      background-color: $color-WH;
      width: 270px;
      height: 270px;
      border-radius: 500px;
      margin: auto;

      &:hover {
        .picture {
          &::after{
            content: '';
            width: 100%;
            height: 100%;
          }
        }
      }

      img {
        width: 100%;
        border-radius: 500px;
        z-index: 1;
      }

      .picture {
        background-color: inherit;

        &::after{
          content: '';
          background-color: $color-secondary;
          width: 99%;
          height: 99%;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 0;
          border-radius: 500px;
          transition: $transition-base;
        }
      }
    }

    .card__body {
      padding-right: $spacing*2;
      padding-top: $spacing*3;

      .foreword {
        margin-bottom: $spacing*2;
      }
    }
  }

  &--fluid {
    display: flex;

    .card__img {
      flex: 1.5;
      height: auto;
      padding-bottom: initial;
    }

    .card__body {
      flex: 3;
      padding: $spacing $spacing 0 $spacing*3;

      .info {
        margin-bottom: $spacing*2;

        &__author {
          width: auto;
        }
      }

      .foreword {
        @include line-clamp(2, $font-size-base);
      }
    }

    &--small {
      display: inherit;
      position: relative;

      .card__img {
        width: 80%;
        margin-right: 0;
      }
  
      .card__body {
        width: 66%;
        padding: $spacing*2;
        border-color: transparent;
        position: absolute;
        bottom: 0;
        right: 0;

        .category {
          font-size: $font-size-14;
          height: ($font-size-14 * 1.7);

          a {
            &:hover {
              top: -($font-size-base * 1.5);
            }
          }

          h4 {
            font-size: $font-size-14;
            line-height: 1.5;
          }

          span{
            font-size: $font-size-14;
            line-height: 1.5;
          }
        }

        .title, .title h3 {
          font-size: $font-size-18;
          margin-bottom: 0;
        }
      }
    }
  }

  &--magazine {
    display: flex;

    &:hover {
      filter: initial;
    }

    .card__img {
      flex: 1.5;
      height: auto;
      padding-bottom: initial;

      &:hover {
        @include box-shadow--active;
      }

      img {
        mix-blend-mode: initial;
      }
    }

    .card__body {
      flex: 3;
      padding: 0 $spacing 0 0;
      margin-left: $spacing*3;

      .category {
        font-size: $font-size-14;
        margin-bottom: $spacing-tiny;
      }

      .title {
        margin-bottom: $spacing;

        h3 {
          font-size: $font-size-22;
        }
      }

      .foreword {
        margin-bottom: $spacing*2;
        @include line-clamp(5, $font-size-base);
      }
      
      .btns {
        justify-content: flex-end;
      }
    }

  }

  &__img {
    position: relative;
    overflow: hidden;
    width: 100%;
    transition: $transition-base;

    &:hover {
      .img__infobox {
        background-color: rgba(0,21,29,.7);
        @include opacity(1);
        transform: translateZ(0);
        z-index: 1;
      }

      img {
        @include opacity(.3);
      }

      &::after {
        background-color: rgba(0,21,29,1);
      }
    }

    &::after {
      content: '';
      background-color: rgba(0,21,29,.1);
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transition: $transition-base;
      z-index: 0;
    }
  
    a {
      background-color: transparent;
      width: 100%;
      display: block;
    }

    img {
      width: 100%;
      display: block;
      position: relative;
      object-fit: cover;
      z-index: 1;
      transition: $transition-base;
    }

    .img__infobox {
      background-color: rgba(0,21,29,0);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      @include opacity(0);
      transition: $transition-slow;
      transform: translateZ(0);
      filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));

      .icon-view {
        font-size: $font-size-22;
        font-style: initial;
        font-weight: $font-weight-medium;
        color: $color-WH;

        &::before {
          font-size: $font-size-24;
          color: $color-primary;
          margin-right: $spacing;
          position: relative;
          top: $spacing-tiny;
        }
      }
    }
  }

  &__body {
    background-color: $color-WH;
    padding: $spacing*2;
    position: relative;
    border-bottom: 1px solid $divider-light;
    z-index: 10;

    .category {
      font-size: $font-size-base;
      color: $color-primary;
      line-height: 1;
      height: ($font-size-base * 1.7);
      position: relative;
      z-index: 2;
      overflow: hidden;
      display: inline-block;

      a {
        display: inline-block;
        position: relative;
        top: 0;
        transition: $transition-base;

        &:hover {
          top: -($font-size-base * 1.7);
        }
      }

      h4 {
        font-family: $font-family-serif;
        font-weight: $font-weight-normal;
        font-size: $font-size-base;
        color: $color-primary;
        line-height: 1.7;
      }

      span{
        font-family: $font-family-serif;
        font-weight: $font-weight-normal;
        font-size: $font-size-base;
        display: block;
        line-height: 1.7;
        min-height: $font-size-base;
      }
    }

    .title {
      margin-bottom: $spacing;
      position: relative;
      transition: $transition-base;

      h3 {
        font-family: $font-family-serif;
        font-size: $font-size-22;
        color: $color-GR900;
        transition: $transition-base;

        &:hover {
          color: $color-primary;
        }

        strong {
          color: $color-primary;
        }
      }
    }

    .info {
      font-size: $font-size-14;
      color: $color-GR600;
      margin-bottom: $spacing*3;

      &__author {
        display: inline-block;
        margin-right: $spacing;
        width: 100%;

        a {
          color: $color-GR600;
          display: block;
          word-break: break-word;
          @include line-clamp(1, $font-size-14);
          display: -webkit-inline-box;

          &:hover {
            color: $color-primary;
          }
        }
      }

      &__date {
        display: inline-block;
        margin-right: $spacing;
      }

      &__view {
        display: inline-block;
        margin-right: $spacing;

        i {
          &::before {
            font-size: $font-size-base;
            position: relative;
            top: 3px;
            margin-right: $spacing-tiny;
          }
        }
      }

      &__article {
        display: inline-block;
        margin-right: $spacing;
      }
    }

    .foreword {
      font-family: $font-family-sans;
      font-weight: $font-weight-light;
      color: $color-GR600;
      margin-bottom: $spacing*3;
      @include line-clamp(3, $font-size-base);

      strong {
        color: $color-primary;
        font-weight: $font-weight-light;
      }

      a {
        color: $color-GR600;

        &:hover {
          color: $color-GR600;
        }
      }
    }

    .tags {
      margin-bottom: $spacing;
    }

    .btns {
      display: flex;
      // margin-bottom: $spacing*2;

      &.aligh--left {
        justify-content: flex-start;
      }

      &.aligh--right {
        justify-content: flex-end;
      }

      >* {
        position: relative;
        z-index: 9;
      }
    }
  }
}



// RWD -----
@media (max-width: $screen-lg-min) /*1200*/ {
}

@media (max-width: $screen-md-min) /*992*/ {
  // AD
  .ads-box {
    .ads {
      > * {
        margin-left: $spacing;
        margin-right: $spacing;
      }
    }
  }


  // Cards
  .card {
    &--author {
      .card__img {
        background-color: $color-WH;
        width: 100%;
        height: auto;
        border-radius: 500px;
        margin: auto;
      }
    }
  }
}

@media (max-width: $screen-sm-min) /*769*/ {
  // Ads 設定
  .ads-box {
    .ads.mobile {
      display: block !important;
    }
  }

  // Titlebar
  .titlebar {
    width: 100%;
    margin-bottom: $spacing*2;

    // page
    &--page {
      margin-bottom: $spacing*3;
      min-height: 113px;

      &.active {
        .titlebar__title {
          margin-bottom: $spacing*3;
        }

        .tab-nav {
            top: 56px;
        }
      }
  
      .titlebar__title {
        .title-data {
          .title {
            font-size: $font-size-30;
          }
  
          span.sub-title {
            font-size: $font-size-base;
            margin-bottom: 0;
          }
        }
      }
    }
  
    // Section
    &--section {
      .titlebar__title {
        .title-data {
          &::after {
            height: 2px;
            bottom: -2px;
          }
  
          .title {
            font-size: $font-size-30;
          }
        }
      }
    }
  
    // Small
    &--small {
      .titlebar__title {
        padding-right: $spacing*3;
        
        .title-data {
          .title {
            font-size: $font-size-24;
          }
          
          span.sub-title {
            margin-left: 0;
          }
        }
      }
    }
  
    &__title {
      border-width: 2px;
    }
  }


  // Tab nav
  .tab-nav {
    nav {
      &::after {
        top: 42px;
      }

      ul {
        li {
          margin: 0 $spacing-tiny/2;
          transition: $transition-base;

          &.active {
            a {
              border-color: $color-primary;
            }
          }

          a {
            font-size: $font-size-base;
            padding: $spacing $spacing;
            border-bottom: 2px solid transparent;

            &:hover, &:focus {
              color: inherit;
            }
          }
        }
      }
    }

    &--nowrap {
      nav {
        &::after {
          width: $spacing*2;
          height: 42px;
        }
      }
    }
  }

  // Breadcrumb
  .breadcrumb {
    padding-top: $spacing*2;
    
    nav {
      ul {
        flex-wrap: wrap;
        
        li {
          &:last-child {
            @include line-clamp(1, $font-size-14);
          }
        }
      }
    }
  }


  // Tags
  .tags {
    ul {
      li {
        a {
          padding: $spacing 10px;
        }

        &:not(:nth-child(-n+3)) {
          display: none;
        }
      }
    }
  }
  

  // Tooltips
  [data-tooltip] {
    &:hover {
      &::after {
        display: none;
      }
    }
  }


  // Sponsor icon
  [data-sponsor] {
    &::before {
      font-size: $font-size-12;
      padding: 1px 6px;
    }
  }


  // Pagination
  .pagination {
    nav {
      ul {
        li {
          background-size: 16px;
          font-size: 0.9rem;
          line-height: $spacing*4;
          min-width: 27px;
          height: $spacing*4;
          margin: 0 $spacing-tiny/2;
          // padding: 2px;

          &.page-more {
            min-width: 16px;
            margin: 0;
            border: 0;
          }

          &.page-first, &.page-previous, &.page-next, &.page-last {
            padding: 0;
            min-width: 24px;
          }

          a {
            background-size: 16px;
          }
        }
      }
    }
  }


  // Toasts
  .notification {
    width: calc(100vw - 32px);
    padding: $spacing*2;
    display: initial;

    &__body {
      font-size: $font-size-14;
      padding-right: 0;
      margin-bottom: $spacing;
    }

    &__btns {
      text-align: right;
      
      a.btn {
        padding: 6px $spacing*2;
        font-size: $font-size-14;
      }
    }

    &.fix--bottom {
      bottom: $spacing*2;
      right: $spacing*2;
    }
  }


  // UI State
  .ui-state {
    flex-wrap: wrap;

    &__content {
      text-align: center;
      margin: $spacing*3 0 0 0;
      width: 100%;
    }
  }


  // 進度條
  .page-progress {
    height: 3px;
    
    &__bar {
      height: 3px;
    }
  }


  // Cards
  .card {
    // New author
    &.new {
      &::before {
        content: 'NEW';
        background-color: $color-info;
        font-family: $font-family-LOAT;
        font-size: $font-size-12;
        line-height: 1;
        color: $color-WH;
        padding: 2px 2px 2px 4px;
        border-radius: 2px;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 0;
        transform: scale(.9);
        z-index: 3;
      }

      .card__body {
        .title {
          &::before {
            display: none;
          }
        }
      }
    }

    &--article {
      .card__body {
        margin: -$spacing*2 0 0 $spacing*2;
      }
    }

    &--author {
      display: flex;
      align-items: flex-start;
  
      .card__img {
        flex: 1.5;
        margin-right: $spacing*2;
        margin-top: 0;
      }
  
      .card__body {
        flex: 3;
        padding: 0;

        .title {
          h3 {
            font-size: $font-size-18;
            @include line-clamp(2, $font-size-18);
    
            a {
            }
          }
        }
  
        .info {
          margin-bottom: $spacing;
        }
  
        .foreword {
          @include line-clamp(2, $font-size-base);
          margin-bottom: $spacing*2;
        }
      }
    }

    &--fluid {
      display: inherit;

      &--small {
        .card__img {
          width: 50%;
        }
        
        .card__body {
          padding: $spacing-tiny*3 0 0 $spacing-tiny*3;

          .category {
            display: none;
          }

          .title, .title h3 {
            font-size: $font-size-18;
            font-weight: $font-weight-medium;
          }

          .title a {
            @include line-clamp(3, $font-size-18);
          }
        }
      }

      .card__img {
        margin-right: 0;
      }

      .card__body {
        padding: $spacing 0 0 $spacing*3;
        margin: -($spacing*2) 0 0 $spacing*2;

        .foreword {
          display: none;
        }
        
        .info {
          &__author {
            display: block;
            margin: 0 0 $spacing 0;
            // @include line-clamp(1, $font-size-14);
          }
        }
      }
    }
    
    &:hover {
      box-shadow: initial;
      filter: initial;
    }

    &__body {
      padding: $spacing-tiny*3 0 0 $spacing-tiny*3;

      .title {
        margin-bottom: $spacing;

        h3 {
          @include line-clamp(3, $font-size-22);
        }
      }

      .info {
        margin-bottom: $spacing*2;

        &__author {
          width: 100%;
        }
      }

      .category {
        a {
          &:hover {
            h4 {
              margin-top: 0;
            }
          }
        }
      }
    }

    &__img {
      height: auto;
      padding-bottom: initial;
      min-height: auto;
    }
  }


  // Go top
  .goTop {
    right: -20%;

    &.active {
      right: 4%;
      bottom: 4%;
    }

    &:hover {
      background-color: $color-secondary;
    }
  }


  // Button
  .btn {
    // Text
    &--text {
      &:hover, &:active {
        // background-color: transparent;
        // color: $color-GR900;
      }
    }
  }
}

@media (max-width: $screen-xs-min) /*480*/ {
}

@media (max-width: 320px) {
  .pagination nav ul li {
    margin: 0 1px;
  }
}


// Only Firefox
@-moz-document url-prefix() {
  // Button
  .btn {
    // Primary
    &--primary {
      background-color: #F2711D;
    
      &:hover, &:active {
        background-color: #FE9800;
      }
    }

    // Text
    &--text {
      &:hover, &:active {
        background-color: #F2711D;
      }
    }
  }


  // Titlebar
  .titlebar {
    // Section
    &--section {
      .titlebar__title {
        .title-data {
          &::after {
            background-color: #F2711D;
          }
        }
      }
    }

    // Small
    &--small {
      .titlebar__title {
        .title-data {
          &::after {
            background-color: #F2711D;
          }
        }
      }
    }
  }


  // Cards
  .card {
    &__body {
      .title {
        h3 {
          &:hover {
            color: #F2711D;
          }
  
          strong {
            color: #F2711D;
          }
        }
      }
    }
  }
}


/* Only Safari*/
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .main-header__nav nav ul li a {
      white-space:nowrap;
    }

    .titlebar--small .titlebar__title .title-data {
      white-space:nowrap;
    }

    .titlebar--small .titlebar__title .title-data .title {
      white-space:nowrap;
    }

    .titlebar--small .titlebar__title .title-data span.sub-title {
      white-space:nowrap;
    }

    .article-titlebar .category::before {
      white-space:nowrap;
    }

    .card__body .info__article {
      white-space:nowrap;
    }

    .card--fluid .card__body .info__author {
      white-space: nowrap;
    }
  } 
}